/* tots els div */
.content {
  width: 96%;
  margin: 16px;
  margin-left: 32px;
  border-radius: 10px;
  background-color: white;
  padding-bottom: 2%;
  overflow-x: auto;
  }
h1{
  margin-left: 1%;
}
table {
  margin-left: 1%;
  margin-right: 1%;
  width: 98%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  justify-content: center;
  align-items: center;
}
 /*paginator  */
.mat-paginator{
  border-radius: 10px;
}
td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
  width: 100px;
}
/* header taula (th) */
.mat-header-cell{ 
  text-align: center;
  background-color: #282D81;
  color: white;
  font-size: 16px;
  border: 1px solid;
}
/* sombrejat alternat taula */
tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* .mat-elevation-z4{
  height: 100%;
} */

.mat-form-field {
  width: 320px;
  margin-left: 1rem;
  font-size:1.2rem
}

:host ::ng-deep .mat-sort-header-container {
  display: flex !important;
  cursor: pointer !important;
  letter-spacing: normal !important;
  outline: 0 !important;
  justify-content: center !important;
  align-items: center !important;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0;
}
::ng-deep .mat-sort-header-arrow {
  color: white!important;
}
::ng-deep .mat-sort-header:hover .mat-sort-header-container .mat-sort-header-arrow {
  opacity: 1!important;
}