<mat-toolbar>
    <button class="topbutton" mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened" (click)="reloadPage()">
            close
        </mat-icon>
    </button>
    <span *ngIf="router.url === '/principal'" [@flyInOut]="currentState">Inici</span>
    <span *ngIf="router.url === '/pobresa'" [@flyInOut]="currentState">Pobresa</span>
    <span *ngIf="router.url === '/espervida'" [@flyInOut]="currentState">Esperança de vida</span>
    <span *ngIf="router.url === '/fertilitat'" [@flyInOut]="currentState">Fertilitat</span>
    
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        <img class="logo" alt="Logo" src="../assets/Logo-Web-NoBG.png">

        

        <button class="button" routerLink="/principal" [routerLinkActive]="'activebutton'">
            <mat-icon>home</mat-icon>
            <span>Inici</span>
        </button>
        <button class="button" routerLink="/pobresa" [routerLinkActive]="'activebutton'">
            <mat-icon>attach_money</mat-icon>
            <span>Pobresa</span>
        </button>
        <button class="button" routerLink="/espervida" [routerLinkActive]="'activebutton'">
            <mat-icon>favorite</mat-icon>
            <span>Esper. vida</span>
        </button>
        <button class="button" routerLink="/fertilitat" [routerLinkActive]="'activebutton'">
            <mat-icon>local_hotel</mat-icon>
            <span>Fertilitat</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
            <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>