mat-toolbar {
    background: blue;
    color: white;
    height: 97px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbutton {
    margin-right: 20px;
    
}

mat-sidenav {
    position: fixed;
    top: 0;
    width: 200px;
    border-right: none;
    background-color: black;
    color: white;
    text-align: center;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.logo{
    display: block;
  max-width:180px;
  max-height:95px;
  width: auto;
  height: auto;
}
.content {
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px;

    border-radius: 10px;
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    padding-top: 20px;
    padding-bottom: 20px; 
}

.menu-button:hover {
     background-color: gray;
     transition: 1s;
     border-radius: 10px;
     margin: 7px;
     width: 90%;
}

mat-icon {
    margin-right: 8px;
    margin-left: 20px;
}


mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: gray;
}