<mat-toolbar>
    <button class="topbutton" mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <span *ngIf="router.url === '/inicio'" [@flyInOut]="currentState">World Data</span>
    <span *ngIf="router.url === '/poblacion'" [@flyInOut]="currentState">Población</span>
    <span *ngIf="router.url === '/vida'" [@flyInOut]="currentState">Esperanza de vida</span>
    <span *ngIf="router.url === '/fertilidad'" [@flyInOut]="currentState">Fertilidad</span>
    
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        <img class="logo" alt="Logo" src="../assets/Logo-Web-NoBG.png">

        

        <button class="button" routerLink="/inicio" [routerLinkActive]="'activebutton'">
            <mat-icon>home</mat-icon>
            <span>World Data</span>
        </button>
        <button class="button" routerLink="/poblacion" [routerLinkActive]="'activebutton'">
            <mat-icon>family_restroom</mat-icon>
            <span>Población</span>
        </button>
        <button class="button" routerLink="/vida" [routerLinkActive]="'activebutton'">
            <mat-icon>favorite</mat-icon>
            <span>Vida</span>
        </button>
        <button class="button" routerLink="/fertilidad" [routerLinkActive]="'activebutton'">
            <mat-icon>baby_changing_station</mat-icon>
            <span>Fertilidad</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
            <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>