table {
  align-items: center;
    width: 100%;
    height: 80%;
    margin:20px;
    margin-bottom: 15%;
} 
th.mat-sort-header-sorted {
    color: black;
}
h1{
  margin-left: 1%;
}
.content {
  width: 96%;
  margin: 16px;
  margin-left: 32px;
  border-radius: 10px;
  background-color: white;
  
}