.div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    align-items: center;
    text-align: center;
}

#pie{
    position: relative;
    width: 40%;
    font-weight: 450;
}

#pie2{
    position: relative;
    width: 40%;
    font-weight: 450;
}

.titol1{
    position: relative;
    top: 10%;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #000000;
    padding-top: 15px;
}


