.content {
  width: 96%;
  margin: 16px;
  margin-left: 32px;
  border-radius: 10px;
  background-color: white;
}

h1{
  margin-left: 1%;
}
table {
  margin-left: 1%;
  margin-right: 1%;
  width: 98%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  justify-content: center;
  align-items: center;
}
 /*paginator  */
.mat-paginator{
  border-radius: 10px;
}
td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
  width: 100px;
}
/* header taula (th) */
.mat-header-cell{ 
  text-align: center;
  background-color: #282D81;
  color: white;
  font-size: 16px;
  border: 1px solid;
}
/* sombrejat alternat taula */
tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* .mat-elevation-z4{
  height: 100%;
} */

.mat-form-field {
  font-size: 14px;
  width: 100%;
}